<div class="users-list-search">
    <h2>Buscar Usuarios desde twig</h2>
    
    <form id="users-search-form">
        <input type="text" id="search-name" placeholder="Nombre">
        <input type="text" id="search-email" placeholder="Correo">
        <button type="submit">Buscar</button>
    </form>

    <div id="users-container">
        <p>Introduce criterios de búsqueda y presiona "Buscar".</p>
    </div>
</div>
